<h1>Team</h1>

<h2 align="center">CEO </h2>
<h4 align="center">Jong Sung Bae</h4>
<p></p>
<h2 align="center">Art Director </h2>
<h4 align="center">Yoo Mi Kim</h4>

<h2 align="center">VP Of Marketing </h2>
<h4 align="center">Soo Yun Nam</h4>

<h2 align="center">VP Of Sales </h2>
<h4 align="center">Jee Yun Lee</h4>

<h2 align="center">CFO </h2>
<h4 align="center">Hae Joon Shim</h4>

<h2 align="center">CTO </h2>
<h4 align="center">Sung Kun Kim</h4>
